html {
  // background-color: lavenderblush;
}

body {
  margin: 0;
  padding: 0;
  color: #313048;
}

a {
  text-decoration: none;
  cursor: pointer !important;

  &:visited {
    color: #313048;
  }
}


hr {
  background: #F4F4F6;
  border: 0;
  height: 2px;
}
